body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; 
    color: #212529; 
}

.navbar {
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    text-align: center; 
}
.navbar-nav .nav-link {
    color: #f8f9fa !important; 
    transition: color 0.2s;
}

.navbar-nav .nav-link:hover {
    color: #00bcd4 !important; 
    text-decoration: underline;
}
.navbar-dark .navbar-nav .nav-link.active.disabled {
    color: #fff; 
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 0.25rem;
    pointer-events: none;
}

.carousel-img {
    max-height: 450px;
    object-fit: contain; 
    width: 100%;
    border-radius: 10px;
}

.carousel-caption {
    font-size: 0.9rem;
    bottom: 20px;
    left: 33%;
    right: 15%;
    padding: 10px;
    width: 450px;

}

.carousel-caption h5 {
    font-size: 1.2rem;
    font-weight: 600;
}

.carousel-caption p {
    font-size: 0.9rem;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 2; 
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%;
    padding: 10px;
}

.team-name {
    color: #212529;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .team-name:hover {
    color: #007bff;
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .carousel-caption {
        display: block !important;
        font-size: 0.85rem;
        padding: 8px;
        left: 3%;
        right: 10%;
    }

    .carousel-caption h5 {
        font-size: 1rem;
    }

    .carousel-caption p {
        font-size: 0.8rem;
    }
}
